In [30]:
import pandas as pd
import numpy as np

data_frame = pd.DataFrame(np.random.randn(10,6))
data_frame.head()

          0         1         2         3         4         5
0  0.622226  0.619038  1.094420 -0.120140  0.250086 -1.175517
1 -0.133597  0.308832 -0.052833  0.757427 -2.020867  2.780624
2 -0.083414 -0.581322 -1.220691 -0.628259 -1.168706  0.209627
3  1.270732  0.633888 -0.305818  0.820398  1.766825 -0.233984
4 -0.248468  0.041479 -0.107777 -0.311555 -0.526808 -1.279276